# Bin name(s)
warehouse_manager_sim
warehouse_manager_gen
warehouse_manager_gui
warehouse_manager_opt

# Qt
qrc*
moc*
src/gui/*.stash
src/gui/Makefile
src/gui/ui_mainwindow.h

# vscode
.vscode

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
